[Desktop Entry]
Encoding=UTF-8
Name=Panel
Name[de]=Kontrolleiste
Name[fr]=Panneau
Name[it]=Pannello
Name[ja]=パネル
Name[ko]=패
Name[pa]=ਪੈਨਲ
Name[zh_CN]=面板
Icon=kcmkwm
ServiceTypes=Skim/SetupDir
Type=Service
X-KDE-PluginInfo-Author=liucougar
X-KDE-PluginInfo-Email=liuspider@users.sourceforge.net
X-KDE-PluginInfo-Name=skimsetupdir_panel
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Category=Root
X-KDE-PluginInfo-License=GPL
X-KDE-SKIM-Weight=10
#X-KDE-PluginInfo-EnabledByDefault=true
#X-KDE-PluginInfo-HasActions=true
#X-KDE-Library=skimplugin_inputwindow

