[Desktop Entry]
Encoding=UTF-8
Icon=scim
DocPath=skim/index.html
Type=Service
ServiceTypes=Skim/KCModule
X-KDE-Weight=0
X-KDE-ModuleType=Library
X-KDE-Library=skimplugin_scim_global
#X-KDE-ParentApp=skimplugin_setupwindow
X-KDE-ParentComponents=skimplugin_scim
X-KDE-PluginInfo-DisplayParent=skimsetupdir_frontend
Name=General SCIM
Name[de]=SCIM Globale Einstellungen
Name[fr]=Communs SCIM
Name[it]=SCIM generale
Name[ja]=SCIM全般
Name[ko]=일반 SCIM
Name[pa]=ਆਮ SCIM
Name[zh_CN]=SCIM 常规
Name[zh_TW]=SCIM 一般
Comment=Configure for SCIM global settings
Comment[de]=Globale Einstellungen von SCIM einrichten
Comment[fr]=Configuration des paramètres globaux de SCIM
Comment[it]=Configurazione delle impostazioni globali di SCIM
Comment[ja]=SCIMの全体設定
Comment[ko]=SCIM 주 설정 조정
Comment[pa]=SCIM ਗਲੋਬਲ ਸੈਟਿੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[zh_CN]=SCIM 常规配置界面
Comment[zh_TW]=SCIM 全域設定
