[Desktop Entry]
Encoding=UTF-8
Icon=editclear
DocPath=skim/index.html
Type=Service
ServiceTypes=Skim/KCModule
X-KDE-Weight=100
X-KDE-ModuleType=Library
X-KDE-Library=skimplugin_inputwindow
#X-KDE-FactoryName=KCMLoader
X-KDE-ParentApp=skimplugin_inputwindow
X-KDE-ParentComponents=skimplugin_inputwindow
X-KDE-PluginInfo-DisplayParent=skimsetupdir_panel
Name=Input Window
Name[de]=Eingabefenster
Name[fr]=Fenêtre de Saisie
Name[it]=Finestra di inserimento
Name[ja]=入力ウィンドウ
Name[ko]=입력창
Name[pa]=ਇੰਪੁੱਟ ਝਰੋਖਾ
Name[zh_CN]=输入窗口
Name[zh_TW]=輸入法視窗
Comment=Configure for Input Window
Comment[de]=Eingabefenster einrichten
Comment[fr]=Configuration Fenêtre de Saisie
Comment[it]=Configurazione per la finestra di inserimento
Comment[ja]=入力ウィンドウの設定
Comment[ko]=입력창 설정
Comment[pa]=ਇੰਪੁੱਟ ਝਰੋਖੇ ਦੀ ਸੰਰਚਨਾ
Comment[zh_CN]=输入窗口配置界面
Comment[zh_TW]=設定輸入法視窗
